html {
    position: relative;
    min-height: 100%
}

body {
    font-family: 'Lato', Sans-Serif;
    color: #322A27;
    margin-bottom: 80px;
}

#jumbotron {
    text-align: center;
    background: #FFFFFF;
}

#navbar {
    background: #BCC344
}

.nav-link {
    font-family: 'Arvo', Serif;
    display: inline;
    margin-right: 30px;
}

#abtUsLink, #colBenLink, #newsLink, #mbrsLink, #histLink, #svcsLink, #empLink {
    color: #FFFFFF;
}

.flex-grow {
    flex: 1;
}

#bodCardRow {
    margin-bottom: 20px;
}

#BODheader {
    text-align: center
}

#bodLeftCard {
    border: none;
    padding-right: 0
}

#bodRightCard {
    border: none;
    padding-left: 0
}

#bodRightCardTxt {
    padding-left: 0
}

#test {
    text-align: center
}

#bodLeftCardTxt {
    padding-right: 0;
    text-align: right
}
img {
    margin-bottom: 20px;
}

#AboutCardRow {
    margin-bottom: 20px;
}

#btnRow {
    margin-bottom: 20px;
}

#memberBtn {
    background: #DFB297;
    border: #D0802B;
}

.NHRow {
    margin-bottom: 20px;
}

.MapList {
    height: 460px;
    width: 300px;
    overflow: scroll;
    overflow-x: hidden;
    float: right;
}

.MapListItem {
    font-size: 14px;
}

#map1, #map2 {
    height: 500px;
    width: 500px;
}

#map1 {
    float: left;
}

.benCard {
    border: none;
}

.fab, .fas {
    margin-bottom: 10px;
}

.benCrdSubtitle {
    text-align: left
}

.benCrdTxt {
    text-align: left
}

#supportIcon, #missionIcon {
    color: #BCC344;
}

#trainingIcon {
    color: #D0802B;
}

#collabIcon {
    color: #FEE8B6;
}

#reportIcon, #visionIcon {
    color: #DFB297;
}

footer {
    border-top-style: solid;
    border-top-width: 3px;
    border-color: #D0802B;
    background: #DFB297;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.footerTxt {
    text-align: center;
    color: white;
}